{% extends 'techlist/header.html' %} {% block body %}<br>
<div class="row">
    <div class="col">
        <h2>Repositories</h1></div>
    <div class="col">
<div class="btn-group" style="float:right;">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/repo/sort/{{lang}}?type=most-star">Most Stars</a>
    <a class="dropdown-item" href="/repo/sort/{{lang}}?type=least-star">Least Stars</a>
    <a class="dropdown-item" href="/repo/sort/{{lang}}?type=most-open">Most Open Issues</a>
    <a class="dropdown-item" href="/repo/sort/{{lang}}?type=most-fork">Most Forks</a>
    <a class="dropdown-item" href="/repo/sort/{{lang}}?type=least-fork">Least Forks</a>
  </div>
</div>
</div>
</div>
{% for i in data %}
<br>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><a href="/user/{{i.full_name}}">{{i.full_name}}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{i.language}}</h6>
    <p class="card-text">{{i.description}}</p>
  </div>
</div>
{% endfor %}
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% for i in paginate %}
        <li class="page-item"><a class="page-link" href="/repo/list/{{lang}}?page={{i}}">{{i}}</a></li>
        {% endfor %}
  </ul>
</nav>
{% endblock %}
